/* text me one font */
@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");

/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #03191e;
}

.App {
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.App::-moz-selection {
  color: #59f8e8;
  background: #a682ff;
}

::selection {
  color: #59f8e8;
  background: #a682ff;
}

/* Header styles */
.header-wrapper {
  margin: 1rem;
}

.header {
  font-family: "Text Me One", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 4rem;
  letter-spacing: 0.1em;
  margin: 0;
  color: #a682ff;
  -webkit-text-fill-color: #03191e;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #a682ff;
  text-shadow: 5px 5px 10px #d138bf, -1px -1px 10px #d138bf, 3px 2px 6px #d1386b,
    -1px -2px 5px #d13891;
}

.sub-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0;
  color: #c4c4c4;
}

/* room portal box styles */
.room-portal-wrapper {
  margin-top: 5rem;
  width: 100%;
}

.box-back-room {
  height: 15rem;
  border: 4px solid #59f8e8;
  background: #03191e;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 90%;
}

.rooms-title {
  color: #c1cfda;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin: 0;
  margin-left: 3rem;
  margin-top: 1rem;
}

.box-front-room {
  margin-top: -11rem;
  margin-left: 3rem;
  background: #03191e;
  z-index: 10;
  height: 15rem;
  border: 4px solid #59f8e8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  position: sticky;
}

.create-btn {
  font-family: Roboto;
  font-size: 1.5rem;
  background-color: #59f8e8;
  color: #03191e;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 12px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #f45b69;
}

.or-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #59f8e8;
  font-size: 1.5rem;
}

.id-form {
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.id-input {
  border: 2px solid #59f8e8;
  border-radius: 2px;
  background: #03191e;
  height: 2.25rem;
  color: #59f8e8;
  text-indent: 10px;
  width: 100%;
  font-size: 1rem;
}

input::placeholder {
  color: #59f8e8;
  text-indent: 12px;
  font-size: 1rem;
}

.id-btn {
  background-color: #f45b69;
  border: none;
  border-radius: 2px;
  height: 2.6rem;
  width: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.id-btn:hover {
  background-color: #59f8e8;
}

/* chat portal box styles */
.chat-portal-wrapper {
  margin-top: 2rem;
  width: 100%;
  background: #03191ee3;
  z-index: 10;
}

.info-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.display-name {
  color: #a682ff;
  margin-left: 1rem;
  text-align: right;
  font-size: 1.25rem;
}

.box-back-chat {
  overflow: auto;
  border: 4px solid #59f8e8;
  height: 60vh;
  box-sizing: border-box;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}

.info-btn {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  background-color: #59f8e8;
  color: #03191e;
  border-radius: 2px;
  padding: 5px 16px;
  height: 50%;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.info-btn:hover {
  background-color: #f45b69;
}

.info-wrapper {
  display: flex;
  align-items: center;
}

.users-icon {
  height: 1.7rem;
}

/* message styles */
.message-form {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
}

textarea {
  padding: 0.2rem;
  resize: none;
  min-height: 2rem;
  max-height: 6rem;
}

textarea::placeholder {
  color: #59f8e8;
  font-size: 1rem;
}

.send-btn {
  font-family: Roboto;
  font-size: 1.5rem;
  background-color: #59f8e8;
  color: #03191e;
  border-radius: 2px;
  padding: 5px 12px;
  width: 7rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.send-btn:hover {
  background-color: #f45b69;
}

/* message bubble styles */
.receive-bubble {
  border-radius: 1rem;
  background-color: #f45b69;
  font-size: 1.2rem;
  padding: 1rem;
  width: 60%;
  margin-left: 1rem;
  position: relative;
}

.receive-carrot:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid #f45b69;
  border-right: 8px solid transparent;
  border-top: 8px solid #f45b69;
  border-bottom: 8px solid transparent;
  left: 19px;
  bottom: -15px;
}

.send-bubble {
  border-radius: 1rem;
  background-color: #a682ff;
  font-size: 1.2rem;
  padding: 1rem;
  width: 60%;
  margin-right: 1rem;
  margin-left: auto;
  position: relative;
}

.send-carrot:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid #a682ff;
  border-top: 8px solid #a682ff;
  border-bottom: 8px solid transparent;
  right: 19px;
  bottom: -15px;
}

.receive-name {
  color: #c4c4c4;
  margin-left: 2rem;
  margin-bottom: -1rem;
}

.send-name {
  color: #c4c4c4;
  margin-left: auto;
  margin-right: 2rem;
  margin-bottom: -1rem;
}

/* Small dot grid */
.small-grid-outer {
  overflow: hidden;
  position: absolute;
  bottom: 10rem;
  right: 0rem;
  z-index: -10;
}

.small-dot-grid {
  position: relative;
}

/* Large dot grid */
.large-grid-outer {
  display: none;
  overflow: hidden;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  z-index: -10;
}

.large-dot-grid {
  position: relative;
}

/* name input portal styles */
.teal-id-header {
  margin: 0;
  margin-bottom: -0.5rem;
  color: #59f8e8;
  font-size: 1.25rem;
}

.id-text {
  color: #c4c4c4;
}

.name-input-wrapper {
  display: flex;
  align-items: center;
}

.name-input {
  border: 2px solid #59f8e8;
  border-radius: 2px;
  background: #03191e;
  height: 2.25rem;
  color: #59f8e8;
  text-indent: 10px;
  width: 100%;
  font-size: 1rem;
}

.char-count-wrapper {
  margin-top: -1rem;
  margin-bottom: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teal-name-header {
  margin: 0;
  margin-right: 1rem;
  color: #59f8e8;
  font-size: 1.25rem;
}

.char-count {
  color: #59f8e8;
  font-size: 1.25rem;
}

/* modal styles */
.popup-content {
  background: #03191e;
  border: 4px solid #a682ff;
  width: 80%;
  height: 30rem;
  padding: 1rem;
}

.popup-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.close-popup-btn {
  width: 3rem;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: -1rem;
  margin-top: -0.5rem;
  cursor: pointer;
  background: #03191e;
  border: none;
  color: #a682ff;
}

.close-popup-btn:hover {
  color: #f45b69;
}

.close-icon {
  height: 2rem;
}

.copy-id-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-btn {
  background-color: #03191e;
  cursor: pointer;
  border: none;
  color: #59f8e8;
  display: flex;
  align-items: flex-end;
  font-size: 1.1rem;
}

.copy-btn:hover {
  color: #f45b69;
}

.copy-icon {
  height: 1.5rem;
  margin-left: 0.25rem;
}

.copied-icon {
  height: 1.5rem;
  margin-left: 0.25rem;
  color: #f45b69;
}

.copied-span {
  color: #f45b69;
}

.room-id {
  color: #59f8e8;
  font-size: 1.5rem;
  margin: 0;
}

.edit-name-wrapper {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signout-btn {
  margin-top: auto;
  width: 100%;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  background-color: #59f8e8;
  color: #03191e;
  border-radius: 2px;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
}

.signout-btn:hover {
  background-color: #f45b69;
}
