/* text me one font */
@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");

/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #03191e;
}

/* Header styles */
.header-wrapper {
  margin: 1rem;
}

.header {
  font-family: "Text Me One", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 4rem;
  letter-spacing: 0.1em;
  margin: 0;
  color: #a682ff;
  -webkit-text-fill-color: #03191e;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #a682ff;
  text-shadow: 5px 5px 10px #d138bf, -1px -1px 10px #d138bf, 3px 2px 6px #d1386b,
    -1px -2px 5px #d13891;
}

.sub-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  color: #c4c4c4;
}
