@media only screen and (min-width: 640px) {
  .header {
    font-size: 6rem;
  }

  .sub-header {
    font-size: 2rem;
  }

  .room-portal-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .chat-portal-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .small-grid-outer {
    bottom: 15rem;
    right: 5rem;
  }

  .box-back-chat::-webkit-scrollbar {
    width: 0.75rem;
  }

  .box-back-chat::-webkit-scrollbar-thumb {
    background-color: #59f8e87a;
  }
}

@media only screen and (min-width: 1024px) {
  .small-grid-outer {
    display: none;
  }

  .large-grid-outer {
    display: block;
    bottom: 5rem;
    right: 5rem;
  }

  .box-front {
    padding: 5rem;
  }

  .receive-bubble {
    font-size: 1.5rem;
    width: 50%;
  }

  .send-bubble {
    font-size: 1.5rem;
    width: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .large-grid-outer {
    bottom: 5rem;
    right: 10rem;
  }
}

@media only screen and (min-width: 1536px) {
  .room-portal-wrapper {
    width: 33%;
  }

  .chat-portal-wrapper {
    width: 50%;
  }

  .box-back {
    height: 20rem;
  }

  .box-front {
    margin-top: -16rem;
    height: 20rem;
  }

  .small-grid-outer {
    display: none;
  }

  .large-grid-outer {
    display: block;
    bottom: 5rem;
    right: 20rem;
  }
}
